<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time_display</title>

    <style>
        body{
            width:0px;
            height:auto;
        }

        #container{
            background-color: black;
            width: 970px;
            border: 2px solid red;

        }

        h1, h2, h3{
            color: white;
            text-align: center;
            border: 2px solid white;
            margin: 20px 350px;
            width: 250px;

        }

    </style>

</head>

<body>
    <div id='container'>
        <h1>Time Display</h1>
        <h2>The current date and time</h2>
        <h3>{{time}}</h3>
    </div>
</body>
</html>